* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}
/* 
header {
    max-width: 820px;
    margin: auto;
} */
.container {
  max-width: 820px;
  margin: auto;
  padding: 20px 0;
  position: relative;
}

.nav-items {
  color: white;
  display: flex;
  justify-content: space-between;
}

.list-items {
  list-style-type: none;
  display: flex;
  column-gap: 20px;
  z-index: 10;
}

.hero-wrapper {
  display: flex;
  align-items: center;
}

.hero-content {
  color: white;
  margin-top: 100px;
  position: relative;
  z-index: 10;
  /* max-width: 580px; */
}

.hero-content h1 {
  font-size: 55px;
  /* line-height: 66px; */
  /* letter-spacing: -2px; */
  position: relative;
}

.name {
  text-decoration: underline #4ee1a0;
}

.hero-content p {
  margin-top: 40px;
  max-width: 300px;
  color: #9d9d9d;
  line-height: 24px;
}

.profile-wrapper img {
  width: 400px;
  height: 520px;
  object-fit: cover;
  position: absolute;
  top: 0;
  right: 0;
}

.contact-me-wrapper {
  margin-top: 40px;
  color: #4ee1a0;
}

.contact-me-wrapper button {
  border: none;
  border-bottom: 2px solid #4ee1a0;
  text-transform: uppercase;
  background-color: transparent;
  color: white;
}

.horizontal {
  border: 1px solid white;
  width: 850px;
  position: relative;
  top: 100px;
  margin: auto;
}
.access {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  color: white;
  margin-top: 200px;
  gap: 130px;
}

.main {
  /* max-width: 820px;
    margin: auto; */
  padding: 20px 0;
  position: relative;
}

.main-section {
  max-width: 820px;
  margin: auto;
}

.language {
  margin-bottom: 50px;
}
.htmls {
  margin-bottom: 50px;
}
.exprience {
  margin-bottom: 50px;
}
.scripts {
  margin-bottom: 50px;
}

.access h1 {
  padding-bottom: 10px;
}
.projects {
  /* max-width: 820px;

  display: flex;
  align-items: center;
  justify-content: center; */
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.projects-section {
  padding-block: 80px;
  color: white;
}

.projects-section h1 {
  margin-bottom: 30px;
}

/* .design img {
  width: 350px;
  position: relative;
  left: 240px;
  bottom: 50px;
} */
/* .projects h1 {
  color: white;
  margin-left: 250px;
  margin-bottom: 80px;
  align-items: right;
} */

/* .todo img {
  width: 350px;
  position: relative;
  left: 240px;
  bottom: 50px;
}

.memory img {
  width: 350px;
  position: relative;
  left: 240px;
  bottom: 50px;
}

.learning img {
  width: 350px;
  position: relative;
  left: 240px;
  bottom: 50px;
}

.entertainment img {
  width: 350px;
  position: relative;
  left: 240px;
  bottom: 50px;
}

.art img {
  width: 350px;
  position: relative;
  left: 240px;
  bottom: 50px;
}

.view {
  position: relative;
  right: 188px;
} */

.project-card {
  width: calc((100% / 2) - 20px);
}

.project-card img {
  width: 100%;
}
/* 
.code {
  position: relative;
  right: 170px;
  top: 57px;
}
.design h2 {
  color: white;
  position: relative;
  bottom: 60px;
  left: 235px;
  font-size: 20px;
  padding: 20px;
}
.des ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 78px;
  left: 110px;
  list-style: none;
  gap: 15px;
  font-size: 12px;
}
.des {
  color: white;
}
.todo h3 {
  color: white;
  position: relative;
  bottom: 60px;
  left: 235px;
  font-size: 20px;
  padding: 20px;
}
.to ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 78px;
  left: 130px;
  list-style: none;
  gap: 15px;
  font-size: 12px;
}
.to {
  color: white;
}
.memory h2 {
  color: white;
  position: relative;
  bottom: 60px;
  left: 235px;
  font-size: 20px;
  padding: 20px;
}
.mem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 78px;
  left: 150px;
  list-style: none;
  gap: 15px;
  font-size: 12px;
}
.mem {
  color: white;
}
.learning h3 {
  color: white;
  position: relative;
  bottom: 60px;
  left: 235px;
  font-size: 20px;
  padding: 20px;
}

.learn ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 78px;
  left: 150px;
  list-style: none;
  gap: 15px;
  font-size: 12px;
}
.learn {
  color: white;
}
.ent h3 {
  color: white;
  position: relative;
  bottom: 60px;
  left: 235px;
  font-size: 20px;
  padding: 20px;
}
.ent ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 78px;
  left: 150px;
  list-style: none;
  gap: 15px;
  font-size: 12px;
}
.ent {
  color: white;
}
.art h3 {
  color: white;
  position: relative;
  bottom: 60px;
  left: 235px;
  font-size: 20px;
  padding: 20px;
}
.art ul {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 78px;
  left: 150px;
  list-style: none;
  gap: 15px;
  font-size: 12px;
}
.art {
  color: white;
}
.contact {
  background-color: #2f2f2f;
  color: #fff;
  padding: 20px;
}
.contact h2 {
  font-size: 24px;
  margin-bottom: 10px;
} */

.footer {
  background-color: rgb(35, 34, 36);
  color: white;
  padding: 90px 0;
}

.footer-content-wrapper {
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-content {
  max-width: 400px;
}

.footer-title {
  font-size: 48px;
  font-weight: bold;
}

.footer-description {
  margin: 30px 0;
  line-height: 1.4;
}

.footer-socials-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-socials-wrapper ul {
  display: flex;
  gap: 20px;
}

.form-wrapper {
  width: 100%;
}

form {
  width: 100%;
}

.footer form input,
textarea {
  border: none;
  border-bottom: 2px solid white;
  background-color: transparent;
  padding: 5px 20px;
  width: 100%;
}

.form-col {
  margin-bottom: 20px;
}

.send-message {
  border: none;
  border-bottom: 2px solid #4ee1a0;
  background: transparent;
  padding: 10px;
  color: white;
}

.divider {
  width: 100%;
  height: 2px;
  margin: 40px 0;
  background-color: white;
}
